@using PoliceOfficerManagement.Services.AuthServices.Interfaces
@inject IUserInfoes iUserInfos;

@{
    var user = await iUserInfos.GetUserInfoByUserName(User.Identity.Name);
}
<!DOCTYPE html>
<html translate="no">
<head>
    <meta name="google" content="nottranslate">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employee Management</title>


    <link href="~/CustomSelectOption/select2.min.css" rel="stylesheet" />

    <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <!-- Custom Date Picker-->
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this page -->
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    @*loading bar*@
    <link href="~/loading-bar/dist/loading-bar.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" rel="preload">


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/fonts/solaimanLipi.css" rel="stylesheet" />
    <link href="~/lib/jquery/jquery.blockUI.css" rel="stylesheet" />
    <link href="~/Assets/cdns/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="~/Assets/cdns/jquery-3.5.1.js"></script>
    <script src="~/Assets/cdns/jquery.dataTables.min.js"></script>
    <script src="~/Assets/cdns/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Assets/cdns/bootstrap.min.css" integrity="" crossorigin="anonymous">
    <script src="~/Assets/cdns/dataTables.bootstrap.min.js"></script>


    <style>
        @@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

        body {
            font-family: "Open Sans", "SolaimanLipiNormal", Arial, sans-serif !important;
            font-size: 11pt !important;
            margin: 0;
        }

        .navbar-fixed-top {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1030;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .sidebar-fixed-left {
            position: fixed;
            top: 70px;
            left: 0;
            width: 250px;
            height: 100%;
            overflow-y: auto;
            z-index: 1020;
            background-color: cornflowerblue;
            color: white;
        }

            .sidebar-fixed-left .nav-link {
                color: black;
                font-size: 16px;
                padding: 12px 20px;
                text-decoration: none;
            }

                .sidebar-fixed-left .nav-link:hover {
                    background-color: lightblue;
                    color: white;
                    border-radius: 4px;
                }

        #content-wrapper {
            margin-left: 270px;
            padding: 85px 15px 15px;
            background-color: #f8f9fa;
            min-height: 100vh;
        }

        /* Media queries for smaller screens */
        @@media (max-width: 991px) {
            .sidebar-fixed-left {
                width: 200px;
                height: auto;
                position: relative;
            }

            #content-wrapper {
                margin-left: 15px;
            }
        }

        @@media (max-width: 767px) {
            .sidebar-fixed-left {
                width: 100%;
                height: auto;
                position: relative;
                top: 0;
                overflow-x: hidden;
            }

            #content-wrapper {
                margin-left: 10px;
                padding-top: 70px;
            }
        }

    </style>


    @RenderSection("Style", required: false)
</head>






<body>
    <nav class="navbar navbar-expand topbar static-top shadow navbar-fixed-top" style="background-color: floralwhite;">
        <div class="col-12 col-md-12 row">
            <div class="col-4 col-md-4 pt-2">
                <h2>Employee Management System</h2>
            </div>

            <div class="col-4 col-md-4">
            </div>

            <div class="col-4  col-md-4 row">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div style="margin-top:20px">
                                <span class="mr-2 d-none d-lg-inline text-white-600 small" style="font-size:16px;">Welcome @user.roleName</span>
                            </div>
                            <img src="~/logo/user.png" class="img-profile rounded-circle" height="32" width="32" style="height:40px;width:40px; margin-top:20px" />
                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="width:300px">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">

                                        <img class="img-profile rounded-circle" src="~/images/user.png" height="80" width="80" style="margin-left:110px;margin-top:10px;margin-bottom:10px">
                                    </div>
                                </div>                                
                                <br />
                               
                            </div>
                            @* <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePasswordModal">
                                <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                Change Password
                            </a> *@
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>

                    </li>

                </ul>
            </div>
        </div>

    </nav>

    <div id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="menuBar" class="sidebar-fixed-left">

                <div id="menu">
                    <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: cornflowerblue; color:white;" id="accordionSidebar">


                        <li class="nav-item">
                            <a class="nav-link" id="HomeIcon" href="/Home/Home/Index">
                                <i class="fas fa-fw fa-home" style="color:black;font-size:24px"></i>
                                <span style="color:black;font-size:20px" id="dashboard">Home</span>
                            </a>
                        </li>
                        @if (user.roleName =="Admin")
                        {
                            <li class="nav-item" id="accordionSidebar_MasterData">

                                <a class="nav-link collapsed apadding" href="javascript:void(0)" data-toggle="collapse" data-target="#collapse_MasterData" aria-expanded="true" aria-controls="collapse_MasterData">

                                    <span class="btn" style="color:black;font-size:18px" id="Setting_MasterData">Master Data</span>
                                </a>
                                <div id="collapse_MasterData" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                                    <a class="nav-link" href="/MasterData/MasterData/InstitutionInfoTraining">
                                        <span class="c" style="color:black;">Training Institute</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/InstitutionInfo">
                                        <span class="c" style="color:black;">Educational Institute</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/RangeMetros">
                                        <span class="c" style="color:black;">Range Metro</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/DivisionDistrict">
                                        <span class="c" style="color:black;">Division District</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/ZoneCircle">
                                        <span class="c" style="color:black;">Zone Circle</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/PoliceThana">
                                        <span class="c" style="color:black;">Police Thana</span>
                                    </a>

                                    <a class="nav-link" href="/MasterData/MasterData/Country">
                                        <span class="c" style="color:black;">Country</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/Division">
                                        <span class="c" style="color:black;">Division</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/District">
                                        <span class="c" style="color:black;">District</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/Thana">
                                        <span class="c" style="color:black;">Thana</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/UnionWard">
                                        <span class="c" style="color:black;">UnionWard</span>
                                    </a>
                                    <a class="nav-link" href="/MasterData/MasterData/Village">
                                        <span class="c" style="color:black;">Village</span>
                                    </a>
                                     
                                </div>
                            </li>

                        }
                        
                        
                        <li class="nav-item" id="accordionSidebar_Employee">

                            <a class="nav-link collapsed apadding" href="javascript:void(0)" data-toggle="collapse" data-target="#collapse_Employee" aria-expanded="true" aria-controls="collapse_Employee">

                                <span class="btn" style="color:black;font-size:18px" id="Setting_Employee">Employee Info</span>
                            </a>
                            <div id="collapse_Employee" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                @if (user.roleName == "Admin")
                                {
                                    <a class="nav-link" href="/EmployeeArea/EmployeInfo/CreateEmployeeProfile">
                                        <span class="c" style="color:black;">Create</span>
                                </a>
                                }
                                <a class="nav-link" href="/EmployeeArea/EmployeInfo/EmployeeList">
                                    <span class="c" style="color:black;">Employee Infos</span>
                                </a>

                            </div>
                        </li>

                       @*  <li class="nav-item" id="accordionSidebar_Per">

                            <a class="nav-link collapsed apadding" href="javascript:void(0)" data-toggle="collapse" data-target="#collapse_Per" aria-expanded="true" aria-controls="collapse_Per">

                                <span class="btn" style="color:black;font-size:18px" id="Setting_Per">Performance</span>
                            </a>
                            <div id="collapse_Per" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">

                                <a class="nav-link" href="/Employee/PerformanceReview/PerformanceReview">
                                    <span class="c" style="color:black;">Add Score</span>
                                </a>

                                <a class="nav-link" href="/Employee/PerformanceReview/PreformanceReviewReport">
                                    <span class="c" style="color:black;">Review Report</span>
                                </a>
                            </div>
                        </li> *@

                    </ul>
                </div>


            </div>


            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div>
                        @RenderBody()
                    </div>

                </div>


            </div>


        </div>

    </div>



    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="border-radius: 15px; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);">
            <div class="modal-content" style="border-radius: 15px;">
                <div class="modal-header" style="background: linear-gradient(135deg, #6a11cb, #2575fc); color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" style="color: white; opacity: 0.8;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-family: 'Segoe UI', sans-serif; color: #444; text-align: center; padding: 20px;">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer" style="display: flex; justify-content: space-between;">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" style="padding: 10px 20px; border-radius: 30px; font-weight: 500; transition: background-color 0.3s ease;">Cancel</button>
                    <form asp- method="post" asp-area="Auth" asp-controller="Account" asp-action="Logout" id="logoutForm" class="navbar-right">
                        <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success" style="padding: 10px 20px; border-radius: 30px; font-weight: 500; transition: background-color 0.3s ease;">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>


    @*dropdown with search*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@
    <script src="~/CustomSelectOption/select2.min.js"></script>

    @*loading bar*@
    <script src="~/loading-bar/dist/loading-bar.js"></script>

    <!-- Custom Date Picker-->
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    @* <script src="~/SweetAlert/sweetalert2.common.js"></script> *@
    <script src="~/SweetAlert2/SweetAlert/sweetalert2.js"></script>
    <script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>

    <!-- parsly Validation -->
    <script src="~/js/parsly.js"></script>

    <!-- Comon Ajax Lib -->
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.js"></script>
    <script type="text/javascript" src="~/js/jquery.number.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/datatabledate.js" type="text/javascript"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/lib/jquery/jquery.blockUI.js"></script>
    <!-- Page level plugins -->
    <script src="~/Assets/cdns/jquery.dataTables.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/Assets/cdns/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/cdns/dataTables.buttons.min.js"></script>

    <script type="text/javascript">

        function ClearLocalStorage() {
            window.localStorage.clear();
        }

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>



    @RenderSection("Scripts", required: false)

</body>
</html>
