@model EmployeeInfoModel

@{
    ViewData["Title"] = "Employee Search";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@section Style {
    <style>
        #myDivloader {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            display: block;
        }
    </style>
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Employee Serach</h6>
                <a class="btn btn-success btn-sm" onClick="javascript:history.go(-1)" style="float:right;color:white">Back</a>
            </div>
            <br />
            <div class="row" style="padding:10px;">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Employee Name</label>
                        <div class="col-sm-8">
                            <input id="name" name="name" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>

                @* <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="deptId" class="col-sm-4 col-form-label">Department</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="deptId">
                                <option value="0">Select Department</option>
                                @foreach (var item in Model.deptList)
                                {
                                    <option value="@item.Id">@item.departmentName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div> *@

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="position" class="col-sm-4 col-form-label">Position</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="position">
                                <option value="">Select Position</option>
                                <option value="Manager">Manager</option>
                                <option value="Executive">Executive</option>
                                <option value="Jr Executive">Jr Executive</option>
                                <option value="Accountant">Accountant</option>
                                <option value="Hr">Hr</option>
                                <option value="Peon">Peon</option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="score" class="col-sm-4 col-form-label">Score</label>
                        <div class="col-sm-8">
                            <input id="score" name="score" class="form-control" onkeypress="return validateNumber(event)" autocomplete="off" />
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success" id="searchShip" style="float:right;margin-right:15px;">Search</button>
                </div>


                <div class="text-center col-6 offset-3" id="myDivloader" style="display:none;">
                    <img style="width:20%; height:50%" src="~/images/loader01.gif" />
                </div>
            </div>
            <hr />



        </div>
    </div>
</div>


<div id="loadder" class="text-center" style="display:none;">
</div>


<div id="LoadPartialData">
</div>


@section Scripts {
    <script>

        $("#searchShip").click(function () {
            var name = encodeURIComponent($('#name').val());
            var deptId = $('#deptId').val();
            var position = encodeURIComponent($('#position option:selected').val());
            var score = parseInt($('#score').val()) || 0;

            $('#loadder').show();

            $('#LoadPartialData').empty();
            $('#LoadPartialData').load("/Employee/EmployeeInfos/SearchEmployeePartial?name=" + name + "&deptId=" + deptId + "&position=" + position + "&score=" + score + "&page=" + 1);
        });

        function validateNumber(e) {
            const pattern = /^[0-9]$/;
            return pattern.test(e.key)
        }

    </script>
}