@model EmployeInfoViewModel

@{
    ViewData["Title"] = "Employee Search";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@section Style {
    <style>
        #myDivloader {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            display: block;
        }
    </style>
}

<div class="row clearfix">
    <div class="col-md-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Employee Serach</h6>
                <a class="btn btn-success btn-sm" onClick="javascript:history.go(-1)" style="float:right;color:white">Back</a>
            </div>
            <br />
            <div class="row" style="padding:10px;">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label for="score" class="col-sm-4 col-form-label">Officers' Name</label>
                        <div class="col-sm-8">
                            <input id="empName" name="empName" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Range<span style="color: red">*</span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="rangeId" name="rangeId">

                                <option value="0" selected>Select</option>
                                @foreach (var range in Model.RangeMetros)
                                {
                                    <option value="@range.Id">@range.rangeMetroName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">District<span style="color: red">*</span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="districtId" name="districtId">

                                <option value="0"></option>

                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Zone<span style="color: red">*</span></label>
                        <div class="col-md-8">
                            <select class="form-control" id="zoneId" name="zoneId">

                                <option value="0"></option>

                            </select>
                        </div>
                    </div>
                </div>




                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-success" id="searchShip" style="float:right;margin-right:15px;">Search</button>
                </div>


                <div class="text-center col-6 offset-3" id="myDivloader" style="display:none;">
                    <img style="width:20%; height:50%" src="~/images/loader01.gif" />
                </div>
            </div>
            <hr />



        </div>
    </div>
</div>


<div id="loadder" class="text-center" style="display:none;">
</div>


<div id="LoadPartialData">
</div>


@section Scripts {
    <script>

        $("#searchShip").click(function () {
            var name = encodeURIComponent($('#empName').val());
            var rangeId = $('#rangeId').val();
            var districtId = $('#districtId').val();
            var zoneId = $('#zoneId').val();

            $('#loadder').show();

            $('#LoadPartialData').empty();
            $('#LoadPartialData').load("/EmployeeArea/EmployeInfo/SearchEmployeePartial?rangeId=" + rangeId + "&districtId=" + districtId + "&zoneId=" + zoneId + "&name=" + name);
        });

        function validateNumber(e) {
            const pattern = /^[0-9]$/;
            return pattern.test(e.key)
        }

        $('#rangeId').change(function () {
            var rangeId = $(this).val();
            if (rangeId) {
                $.ajax({
                    url: '/MasterData/MasterDatas/GetDivisionDistrictByRangeId',
                    type: 'GET',
                    data: { rangeId: rangeId },
                    success: function (response) {
                        var selectDropdown = $('#divisionDistrictId');
                        selectDropdown.empty();
                        selectDropdown.append('<option value="0">Select</option>');
                        $.each(response, function (index, districts) {
                            selectDropdown.append('<option value="' + districts.Id + '">' + districts.divisionDistrictName + '</option>');
                        });

                    },
                    error: function () {
                        alert("Error loading districts.");
                    }
                });

                $.ajax({
                    url: '/MasterData/MasterDatas/GetThanasByRangeId',
                    type: 'GET',
                    data: { rangeId: rangeId },
                    success: function (response) {
                        var selectDropdown = $('#thanaId2');
                        selectDropdown.empty();
                        selectDropdown.append('<option value="0">Select</option>');

                        $.each(response, function (index, thana) {
                            selectDropdown2.append('<option value="' + thana.Id + '">' + thana.thanaName + '</option>');
                        });
                    },
                    error: function () {
                        alert("Error loading districts.");
                    }
                });
            } else {
                $('#divisionDistrictId').empty();
                $('#divisionDistrictId').append('<option value="0">Select</option>');
                $('#thanaId2').empty();
                $('#thanaId2').append('<option value="0">Select</option>');
            }
        });



        $('#divisionDistrictId').change(function () {
            var divisionDistrictId = $(this).val();
            if (divisionDistrictId) {
                $.ajax({
                    url: '/MasterData/MasterDatas/GetZoneCircleByDivisionDistrictId',
                    type: 'GET',
                    data: { districtId: divisionDistrictId },
                    success: function (response) {
                        var selectDropdown = $('#zoneId');
                        selectDropdown.empty();
                        selectDropdown.append('<option value="0">Select</option>');
                        $.each(response, function (index, zone) {
                            selectDropdown.append('<option value="' + zone.Id + '">' + zone.zoneName + '</option>');
                        });
                    },
                    error: function () {
                        alert("Error loading districts.");
                    }
                });
            } else {
                $('#thanaId').empty();
                $('#thanaId').append('<option value="0">Select</option>');
            }
        });


    </script>
}